
###> symfony/framework-bundle ###
.env*
!.env.dist
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
### /tests/
/var/cache/test/
/phpunit.xml.dist
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###
