<form method="post"
      action="{{ path('app_client_dossier_delete_document', {'id': dossier.id, 'index': document_place_in_array}) }}"
      onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce document ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete_document_client' ~ dossier.id) }}">
    <button type="submit" class="btn btn-danger btn-sm">
        Supprimer Document {{document_place_in_array + 1}}
    </button>
</form>